
<body>
		 <h1><center>
      Scoops n' Smiles
    </center>
    </h1>
    <br>
    <br>
    <center><%= image_tag "icecream_gif.gif", :height => "300"%></center>    <br>
    <h3>About Us</h3>
    <p>
        Scoops n' Smiles is one of the world's largest chain of ice cream specialty 
        shops, providing guests with a wide array of ice cream flavors and 
        delicious treats at more than 500 retail shops in more than 12 
        countries around the world. The brand was founded by two ice cream 
        enthusiasts whose passion for ice cream led to the creation of many
        iconic ice cream flavors including Pralines 'n Cream, Jamoca Almond
        Fudge and Very Berry Strawberry. Today, Scoops n' Smiles has more 
        than 1,300 ice creams in its flavor library, and also offers custom
        ice cream cakes, frozen beverages and the Polar Pizza Ice Cream Treat.
        Its franchised ice cream shops serve as places where people can 
        connect and create special memories while they explore a 
        wide array of flavors, including a new Flavor of the Month 
        every month. Headquartered in Canton, Mass., Scoops n' Smiles
        is part of the Dunkin' Brands Group, Inc. (Nasdaq: DNKN) family 
        of companies.
    </p>
    <h3> Fun Facts </h3>
 <ul>
<li>There are more than 7,800 Scoops n' Smiles locations around the world, with more than 2,500 nationwide.
<li>Scoops n' Smiles international locations feature flavors of ice cream popular to the tastes of each country, such as Red Bean and Green Tea.
<li>Scoops n' Smiles "31" was created to represent a different ice cream flavor for each day of the month. The "31 Flavors" concept was introduced into marketing efforts in 1953.
<li>Today Scoops n' Smiles colors are pink and blue, but the original colors were brown (representing chocolate) and pink (representing cherry), and our famous polka dots represented circus balloons.
<li>The company founders, Burt Baskin and Irv Robbins, were brothers-in-law. Burt married Irv's sister Shirley in 1942.
<li>Both Burt and Irv served during World War II. Burt was a Lieutenant in the U.S. Navy serving in the South Pacific. Irv was a Staff Sergeant in the Army, stationed in California.
<li>Burt owned a 1931 Rolls Royce Phantom II, the world's first 100 mph passenger car.
<li>Burt Baskin once met a man who told him, "Whoever thinks of all these flavors must be plumb nuts!" "Congratulations," said Mr. Baskin. "You just invented a new flavor: Plum Nuts."
<li>At the height of Beatlemania, just before the Beatle's first U.S. tour, a reporter from The Washington Post called Irv Robbins and asked what new flavor would honor the Beatles. The truth was, Scoops n' Smiles had not invented a Beatles flavor. Caught unprepared, Mr. Robbins replied, "Uh, Beatle Nut, of course." It was created, manufactured and delivered in just five days.
<li>Following a trip to New Orleans, Irv and Irma Robbins were enjoying some souvenir pralines at home when inspiration hit. They rushed to the kitchen, mixed the pralines with Vanilla ice cream and a caramel ribbon-and Pralines 'n Cream was born. It was such a hit that stores all over the country began running out. Advice columnist Dear Abby pleaded in print for its return. Headquarters received petitions with hundreds of signatures. And in Santa Barbara, students picketed local stores until Scoops n' Smiles delivered a special production run of the flavor. It has been a permanent flavor ever since.
<li>Irv originally wanted to open his first Snowbird store in the San Francisco Bay Area. On a trip to Los Angeles to talk with suppliers, he noticed a "For Rent" sign in a store window down the street from the Forest Lawn Cemetery. That store became the first Snowbird store, and then the first Scoops n' Smiles store.
<li>Ernie Robbins, Irv's father, convinced Burt and Irv to first open separate stores rather than go into partnership together, so they could each experience what it was like to make their own decisions. That decision lead to Irv opening Snowbird and Burt opening Burton's.
<li>The top 5 selling Scoops n' Smiles ice cream flavors are Vanilla, Chocolate, Mint Chocolate Chip, Pralines 'n Cream and Chocolate Chip.
<li>Jamoca Almond Fudge ice cream was first developed to be made from coffee brewed on the premises of each of the fifteen manufacturing facilities.
<li>All Scoops n' Smiles chocolate ice creams originally were comprised of an exclusive blend of three cocoas.
<li>The creation of Very Berry Strawberry ice cream was initially created with a special strawberry created and grown exclusively for Scoops n' Smiles.
<li>Since 1945, we've created more than 1,300 unique and delicious ice cream flavors.
<li>Throughout the years, we've honored important American events and cultural trends by introducing premium ice cream flavors, such as Lunar Cheesecake, Sesame Sweet, Beatle Nut and Green Monster Mint.
<li>In 1976, during America's 200th Birthday Celebration (and Scoops n' Smiles' 31st birthday), President Ford enjoyed a quart of Valley Forge Fudge created just for the occasion.
<li>"Here Comes the Fudge" ice cream was named after a popular segment on Rowan and Martin's Laugh-In TV show.
<li>Baseball Nutcommemorated the Dodgers move from Brooklyn to Los Angeles in 1958.
<li>"Astronut" and "Lunar Cheesecake" were named in honor of the NASA space missions that took place in the 1960s, but were only introduced after the astronauts came home safely.
<li>One of Scoops n' Smiles' most popular flavors was actually created by comedian Steve Allen. "Steverino" Ice Cream was invented as a gag for the Steve Allen Show, but proved to be very popular in stores. It was loaded with fresh fruits, nuts and Fern Candy. In the first month it was offered, Steverino Ice Cream sold over 1 million scoops, a new volume record for the industry.
<li>Scoops n' Smiles franchisee, Mitch Cohen of New York, currently holds the Guinness World Record for scooping 19 ice cream cones in one minute.
<li>On May 18, 2000, Scoops n' Smiles achieved the Guinness World Record for the "World's Largest Ice Cream Scoop Pyramid" by using 3,100 scoops of ice cream.
<li>The Guinness World Record for the largest cup of ice cream is currently held by Scoops n' Smiles. Created on September 13, 2005 in celebration of the company's 60th birthday, the enormous scoop of vanilla ice cream weighed in at 8,865 pounds!
<li>Howard Hughes once became quite fond of Scoops n' Smiles Banana Nut ice cream, so his aides tried to purchase a bulk shipment for him. Sadly, they discovered the flavor had been discontinued. They put in a request for the smallest amount the company could provide for a special order, 350 gallons (1,300 Liters). It was shipped from Los Angeles to Las Vegas, where Hughes lived at the time on the top floor of the Desert Inn. That's the hotel he bought after they tried to evict him. A few days after the order arrived, Hughes announced he was tired of Banana Nut and only wanted French Vanilla ice cream. The Desert Inn ended up distributing free Banana Nut ice cream to casino customers for a full year until the 350 gallons were gone.(Source:wikipedia)
<li>The favorite Scoops n' Smiles flavor of Bing Crosby and Justin Timberlake was, and is, Daiquiri Ice.
<li>Famous former Scoops n' Smiles scoopers include President Barack Obama, TV hosts Leeza Gibbons and Rosie O'Donnell, Chef Bobby Flay, actresses Julia Roberts, Taryn Manning and Chandra Wilson, actors Eric Dane and Randy Quaid and New York Yankees pitcher Phil Hughes.
<li>Sean Diddy Combs got his first break by starring in a Scoops n' Smiles commercial at the age of two.
<li>The trademarks mentioned herein are held by their respective owners and no association or sponsorship with Scoops n' Smiles is intended.

    </ul>
    <h3>Contact Us</h3>
    <p>
      Customer Support:<br>
      Phone: 800-859-5339<br>


      Mobile App &<br>
      Gift Card Support:<br>
      Phone: 888-729-2489<br>

 
  
      Hours:<br>
      Monday - Friday<br>

      7:00AM - 7:00PM EST
    </p>

    </body>
    
    <h3> Important Note </h3>
    <p> All info was taken from Baskin Robbins and changed to Scopes n' Smiles</p>
