
  <center>
  <a href="/">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Contact Us</a>&nbsp;&nbsp;
  <br />Webmaster: <%= mail_to "smohanad@andrew.cmu.edu", "Sarah Almohanadi", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2019
  </center>
</div>
