<div class="card light-blue">
  <div class="card-content white-text">
    <span class="card-title">Quick Links</span>
    <ul class="collection">
      
      <footer>
<div class="row">
<div class="col s8 center">
<%= render partial: 'partials/footer' %>
</footer> 
    </ul>
  </div>
</div>
